*{
    margin: 0px;
    padding: 0px;
}

div{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(90deg, #3e85f0, #d048f1);
}

form{
    background-color: rgb(255, 255, 255);
    width: 250px;
    border: solid 1px #888;
    border-radius: 10px;
    padding: 30px 20px;
    display: grid;
    gap: 10px;
}

input{
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #d1d1d1;
}


textarea{
    height: 100px ;
    margin-bottom: 10px;
    border: none;
    box-shadow: 5px 5px 8px 0px #cacaca;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

button{
    padding: 10px;
    border: none;
    background: linear-gradient(90deg, #3e85f0, #d048f1);
}